/* Navbar.css */

.navbar {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: #2E8B57;
  color: #f5f5dc;
  position: fixed;
  /* Agrega esta línea para hacer la barra de navegación fija */
  top: 0;
  /* Ajusta la posición superior según tus necesidades */
  width: 96%;
  /* Opcional: asegúrate de que la barra ocupe todo el ancho */
  box-shadow: 0px 4px 6px #2E8B57; /* Sombra encima del footer */
  /* Sombra debajo del Navbar */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #2c2c28
}

.menu-button {
  position: relative;
  /* Asegura que el botón esté en el mismo contexto de apilamiento */
  z-index: 2;
  /* Asegura que el botón esté por encima del video */
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  display: none;
  /* Hide the menu icon by default */
}

.menu-icon {
  width: 30px;
  height: 3px;
  background-color: #f5f5dc;
  text-shadow: 1px 1px 0 #2c2c28;
  margin: 2px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  li {
    background-color: #2E8B57;
    color: #f5f5dc;
    text-shadow: 1px 1px 0 #2c2c28;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  li:hover {
    background-color: #349e62;
  }
}

.nav-links li {
  margin-right: 20px;
  cursor: pointer;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .menu-button {
    display: flex;
    /* Mostrar el icono del menú en pantallas más pequeñas */
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: inline-flex;
    position: absolute;
    top: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2E8B57;
    width: 100%;
    padding: 4% 0%;
    right: 0;
    box-shadow: 0px 4px 6px #2E8B57;
  }
}